fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pillow==11.2.1
numpy==1.26.4
faiss-cpu==1.11.0
sqlalchemy==2.0.40
scikit-learn==1.6.1
tqdm==4.67.1
pydantic==2.10.6
open-clip-torch==2.29.0
ultralytics==8.3.107
